body{
  background-image:url("https://images.wallpaperscraft.com/image/book_pendant_watch_black_and_white_67427_1920x1080.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 130%;
  color:Black;
  font-family: Roboto;
}
h1{
  background-color: white;
  opacity:0.3;
  color:#1565C0;
  text-align: center;
  font-family:Germania One;
}
form{
  width: 100%;
  background-color: white;
  opacity:0.7;
  padding: 20px;
}
label {
  font-weight: 500;
}
#quotes{
  background-color: white;
  opacity: 0.7;
}
